# Git
.git
.gitignore

# Logs
log/*

# Temp files
tmp/*

# Editor temp files
*.swp
*.swo

# Ignore uploaded files in development
.byebug_history
node_modules

# Ignore master key for decrypting credentials and more.
/config/master.key
